WebClient/src/conf/xml-resources/web-service-references/TugasSoap/wsdl/localhost_8080/Todolist-WebService/TugasSoap.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.todolist.itb.ac.id/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.todolist.itb.ac.id/">

<xs:element name="addAssignee" type="tns:addAssignee"/>

<xs:element name="addAssigneeResponse" type="tns:addAssigneeResponse"/>

<xs:element name="addAttachment" type="tns:addAttachment"/>

<xs:element name="addAttachmentResponse" type="tns:addAttachmentResponse"/>

<xs:element name="addTag" type="tns:addTag"/>

<xs:element name="addTagResponse" type="tns:addTagResponse"/>

<xs:element name="addTugas" type="tns:addTugas"/>

<xs:element name="addTugasResponse" type="tns:addTugasResponse"/>

<xs:complexType name="addAssignee">
<xs:sequence>
<xs:element name="idTugas" type="xs:int"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAssigneeResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAttachment">
<xs:sequence>
<xs:element name="idTugas" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="filename" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAttachmentResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addTugas">
<xs:sequence>
<xs:element name="nama" type="xs:string" minOccurs="0"/>
<xs:element name="deadline" type="xs:string" minOccurs="0"/>
<xs:element name="pemilik" type="xs:string" minOccurs="0"/>
<xs:element name="idKategori" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addTugasResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addTag">
<xs:sequence>
<xs:element name="idTugas" type="xs:int"/>
<xs:element name="tag" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addTagResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>