4-TodolistWebService/WebClient/src/java/META-INF/TugasSoap.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://resource.soap.todolist.itb.ac.id/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://resource.soap.todolist.itb.ac.id/" name="TugasSoap">
<types>
<xsd:schema>
<xsd:import namespace="http://resource.soap.todolist.itb.ac.id/" schemaLocation="http://ranger.ap01.aws.af.cm:80/TugasSoap?xsd=1" />
</xsd:schema>
</types>
<message name="addTag">
<part name="parameters" element="tns:addTag" />
</message>
<message name="addTagResponse">
<part name="parameters" element="tns:addTagResponse" />
</message>
<message name="addTugas">
<part name="parameters" element="tns:addTugas" />
</message>
<message name="addTugasResponse">
<part name="parameters" element="tns:addTugasResponse" />
</message>
<message name="addAttachment">
<part name="parameters" element="tns:addAttachment" />
</message>
<message name="addAttachmentResponse">
<part name="parameters" element="tns:addAttachmentResponse" />
</message>
<message name="addAssignee">
<part name="parameters" element="tns:addAssignee" />
</message>
<message name="addAssigneeResponse">
<part name="parameters" element="tns:addAssigneeResponse" />
</message>
<portType name="TugasSoap">
<operation name="addTag">
<input wsam:Action="http://resource.soap.todolist.itb.ac.id/TugasSoap/addTagRequest" message="tns:addTag" />
<output wsam:Action="http://resource.soap.todolist.itb.ac.id/TugasSoap/addTagResponse" message="tns:addTagResponse" />
</operation>
<operation name="addTugas">
<input wsam:Action="http://resource.soap.todolist.itb.ac.id/TugasSoap/addTugasRequest" message="tns:addTugas" />
<output wsam:Action="http://resource.soap.todolist.itb.ac.id/TugasSoap/addTugasResponse" message="tns:addTugasResponse" />
</operation>
<operation name="addAttachment">
<input wsam:Action="http://resource.soap.todolist.itb.ac.id/TugasSoap/addAttachmentRequest" message="tns:addAttachment" />
<output wsam:Action="http://resource.soap.todolist.itb.ac.id/TugasSoap/addAttachmentResponse" message="tns:addAttachmentResponse" />
</operation>
<operation name="addAssignee">
<input wsam:Action="http://resource.soap.todolist.itb.ac.id/TugasSoap/addAssigneeRequest" message="tns:addAssignee" />
<output wsam:Action="http://resource.soap.todolist.itb.ac.id/TugasSoap/addAssigneeResponse" message="tns:addAssigneeResponse" />
</operation>
</portType>
<binding name="TugasSoapPortBinding" type="tns:TugasSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="addTag">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addTugas">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addAttachment">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addAssignee">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="TugasSoap">
<port name="TugasSoapPort" binding="tns:TugasSoapPortBinding">
<soap:address location="http://ranger.ap01.aws.af.cm:80/TugasSoap" />
</port>
</service>
</definitions>