WebClient/src/conf/xml-resources/web-service-references/CommentSoap/wsdl/progin.ap01.aws.af.cm_80/CommentSoap.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://soap.todolist.itb.ac.id/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.todolist.itb.ac.id/">

<xs:element name="addComment" type="tns:addComment" />

<xs:element name="addCommentResponse" type="tns:addCommentResponse" />

<xs:complexType name="addComment">
<xs:sequence>
<xs:element name="comment" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCommentResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:schema>