WebClient/web/WEB-INF/wsdl/progin.ap01.aws.af.cm_80/CategorySoap.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://soap.todolist.itb.ac.id/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.todolist.itb.ac.id/">

<xs:element name="NewKategori" type="tns:NewKategori" />

<xs:element name="NewKategoriResponse" type="tns:NewKategoriResponse" />

<xs:element name="addCoordinator" type="tns:addCoordinator" />

<xs:element name="addCoordinatorResponse" type="tns:addCoordinatorResponse" />

<xs:element name="addNewestCoordinator" type="tns:addNewestCoordinator" />

<xs:element name="addNewestCoordinatorResponse" type="tns:addNewestCoordinatorResponse" />

<xs:complexType name="addCoordinator">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element name="pembuat" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCoordinatorResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="NewKategori">
<xs:sequence>
<xs:element name="nama" type="xs:string" minOccurs="0" />
<xs:element name="pembuat" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="NewKategoriResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNewestCoordinator">
<xs:sequence>
<xs:element name="pembuat" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNewestCoordinatorResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:schema>