4-TodolistWebService/WebClient/src/conf/xml-resources/web-service-references/CategorySoap/wsdl/ranger.ap01.aws.af.cm/CategorySoap.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://resource.soap.todolist.itb.ac.id/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://resource.soap.todolist.itb.ac.id/" name="CategorySoap">
<types>
<xsd:schema>
<xsd:import namespace="http://resource.soap.todolist.itb.ac.id/" schemaLocation="http://ranger.ap01.aws.af.cm:80/CategorySoap?xsd=1" />
</xsd:schema>
</types>
<message name="addNewestCoordinator">
<part name="parameters" element="tns:addNewestCoordinator" />
</message>
<message name="addNewestCoordinatorResponse">
<part name="parameters" element="tns:addNewestCoordinatorResponse" />
</message>
<message name="NewKategori">
<part name="parameters" element="tns:NewKategori" />
</message>
<message name="NewKategoriResponse">
<part name="parameters" element="tns:NewKategoriResponse" />
</message>
<message name="addCoordinator">
<part name="parameters" element="tns:addCoordinator" />
</message>
<message name="addCoordinatorResponse">
<part name="parameters" element="tns:addCoordinatorResponse" />
</message>
<portType name="CategorySoap">
<operation name="addNewestCoordinator">
<input wsam:Action="http://resource.soap.todolist.itb.ac.id/CategorySoap/addNewestCoordinatorRequest" message="tns:addNewestCoordinator" />
<output wsam:Action="http://resource.soap.todolist.itb.ac.id/CategorySoap/addNewestCoordinatorResponse" message="tns:addNewestCoordinatorResponse" />
</operation>
<operation name="NewKategori">
<input wsam:Action="http://resource.soap.todolist.itb.ac.id/CategorySoap/NewKategoriRequest" message="tns:NewKategori" />
<output wsam:Action="http://resource.soap.todolist.itb.ac.id/CategorySoap/NewKategoriResponse" message="tns:NewKategoriResponse" />
</operation>
<operation name="addCoordinator">
<input wsam:Action="http://resource.soap.todolist.itb.ac.id/CategorySoap/addCoordinatorRequest" message="tns:addCoordinator" />
<output wsam:Action="http://resource.soap.todolist.itb.ac.id/CategorySoap/addCoordinatorResponse" message="tns:addCoordinatorResponse" />
</operation>
</portType>
<binding name="CategorySoapPortBinding" type="tns:CategorySoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="addNewestCoordinator">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="NewKategori">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addCoordinator">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="CategorySoap">
<port name="CategorySoapPort" binding="tns:CategorySoapPortBinding">
<soap:address location="http://ranger.ap01.aws.af.cm:80/CategorySoap" />
</port>
</service>
</definitions>